body {
  background-image: url("https://i.pinimg.com/originals/4e/de/5a/4ede5a33c5490195b2b17466ad26d124.gif");
  background-size: cover;
  color: white;
  font-family: monospace;
  background-attachment: fixed;
}

h1 {
    letter-spacing: -2px;
}

h2 {
    letter-spacing: 2px;
}

.card-content {
    display: flex;
    flex-direction: column;    
}

.card-title {
    text-align: center;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
}

.btn-spacer {
    margin: 10px; 
}

#postForm {
    opacity: 0.9;
    box-shadow: 20px 15px 6px 1px rgba(0, 0, 0, 0.3);
}

#myPosts {
    opacity: 0.7;
    box-shadow: 20px 15px 6px 1px rgba(0, 0, 0, 0.3);
    letter-spacing: -1px;
}

.myPostsTitle {
    padding: 35px;
    letter-spacing: -2px;
}

p {
    margin-left: 10px;
}

hr {
    height: 5px;
    background-color: rgba(6, 9, 197, 0.438);
    border: none;
}

#editPostForm {
    opacity: 0.9;
    box-shadow: 20px 15px 6px 1px rgba(0, 0, 0, 0.3);
}
