body {
  background-image: url("https://i.pinimg.com/originals/4e/de/5a/4ede5a33c5490195b2b17466ad26d124.gif");
  background-size: cover;
  color: white;
  font-family: monospace;
}

h2 {
    letter-spacing: 2px;
}

.card-content {
    display: flex;
    flex-direction: column;
    
}

.card-title {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}

.btn-spacer {
    margin: 10px; 
}

#postForm {
    opacity: 0.9;
    box-shadow: 20px 15px 6px 1px rgba(0, 0, 0, 0.3);
}

#myPosts {
    opacity: 0.7;
    box-shadow: 20px 15px 6px 1px rgba(0, 0, 0, 0.3);
}